<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")


    @*

        <script src="~/Scripts/modernizr-2.8.3.js"></script>
        <script src="~/Scripts/jquery-2.1.4.js"></script>
        <script src="/Scripts/bootstrap.js"></script>
        <script src="/Scripts/bootstrap-datetimepicker.min.js"></script>
        <script src="/Scripts/respond.js"></script>

        <script src="/Scripts/jquery.validate.js"></script>
        <script src="/Scripts/jquery.validate.unobtrusive.js"></script>

        <script src="/Scripts/jquery-ui-1.11.4.js"></script>


    *@
</head>
<body ng-app="app">

    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" href="#">Event Management</a>-->
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                @{Html.RenderAction("GetMenuItems", "MenuBar");}


                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated) {
                        <li>@Html.ActionLink("Change Password", "ChangePassword", "Home")</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                    }
                    else {
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="@Url.Action("Index", "Account")"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    }
                </ul>



            </div>
            @*
                <div id="navbar-main" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#/members">Members</a></li>
                        <li><a href="#/events">Events</a></li>
                        <li><a href="#/customers">Customers</a></li>
                    </ul>
                </div> *@
        </div>
    </div>

    <div class="container">
        @if (TempData["message"] != null) {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        @RenderBody()
    </div>

    <footer>
        <div class="content-wrapper">
            <div class="container">
                <p>&copy; @DateTime.Now.Year </p>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrap-datepicker")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angularjs")

    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
